.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(134, 117, 247);
    
    h1 {
        margin: 0;
        font-size: 50px;
        text-transform: uppercase;
    }

    input {
        padding: 10px;
        margin: 0px;
        height: 30px;
        border: none;
        background-color: rgb(203, 197, 245);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    button {
        padding: 10px;
        height: 50px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        outline: none;
        border: 1px solid rgb(98, 84, 187);
        background-color:rgb(103, 86, 211) ;
        text-transform: uppercase;
        cursor: pointer;

    }
}

.inputs {
    display: flex;flex-wrap: nowrap;
    padding: 0;
}