
.global {
    display: flex;
    flex-wrap: wrap;
}

.link {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}
 button{ 
     background-color: rgb(123, 105, 241);
     font-size: 15px;
     padding: 10px;
     border: 1px solid rgb(67, 53, 163);
     border-radius: 10px;
     text-transform: uppercase;   
 }
 button:hover {
     cursor: pointer;
     background-color: slateblue;
 }