.cases {
    border-radius: 5px;
    box-shadow: 2px  1px 1px 1px grey;
    padding: 20px;
    margin-bottom: 15px;
    // display: flex;
    // justify-content: space-evenly;

    .confirmed {
        background: rgb(247, 247, 89);
        border-radius: 5px;
        text-align: center;
        width: 13em;
        font-size: 15px;
    
    }
    .deaths {
        background-color: rgb(236, 83, 83);
        border-radius: 5px;
        text-align: center;
        width: 13em;
        font-size: 15px;
    }
    .recovered {
        background-color: rgb(70, 233, 70);
        border-radius: 5px;
        text-align: center;
        width: 13em;
        font-size: 15px;
    }
}

.cases:hover {
    cursor: pointer;
    transform: scale3d(1.1);
    box-shadow: 2px 5px 3px 3px grey;
}